<template name="music">
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
</template>