<template name="music">
    <div class="ui grid container">
        <div class="sixteen wide mobile eleven wide tablet twelve wide computer column">
            <div class="ui grid">
                <div class="row">
                    <div class="column">
                        <div class="ui header">
                            <i class="green music icon"></i>
                            <div class="content">
                                <h3>自由女神</h3>
                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="five wide mobile four wide computer column">演唱：Hanz</div>
                            <div class="five wide mobile four wide computer column">作词：Hanz</div>
                            <div class="five wide mobile four wide computer column">作曲：Hanz</div>
                        </div>
                        <div class="sixteen wide column">
                            <audio controls src=""></audio>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="ui divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        123
                    </div>
                </div>
            </div>

        </div>
        <div class="sixteen wide mobile five wide tablet four wide computer column">
            <div class="ui grid">
                <div class="row">
                    <div class="column">
                        <div class="ui card">
                            <div class="content">
                                <div class="header">
                                    <h4>Related Links</h4>
                                </div>
                                32131
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="ui accordion songs">-->
        <!--<div class="active title">-->
        <!--<i class="dropdown icon"></i>-->
        <!--ziyounvshen-->
        <!--</div>-->
        <!--<div class="active content">-->
        <!--<div class="ui grid">-->
        <!--<div class="sixteen wide mobile five wide tablet five wide computer column">-->
        <!--<p>感受黎明前那份孤独 聆听着琐碎的脚步<br />-->
        <!--黑夜禁锢正义的魔咒 在广场上蔓延悬浮</p>-->

        <!--<p>死寂的街角巷口胡同深处 微弱信念呼喊出<br />-->
        <!--咆哮着 挣扎着 结局是无情地残酷</p>-->

        <!--<p>有没有一种渴望叫做自由 却又很远 抓不到的弦<br />-->
        <!--遥看曼哈顿女神塑像你还好吗 请笼罩多一些<br />-->
        <!--有没有一种精神永不枯萎 指引向前 冲破所有邪念<br />-->
        <!--理想不会无条件搁浅</p>-->


        <!--<p>Rap</p>-->
        <!--<p>要相信世界会变得更好<br />-->
        <!--独裁别高兴得太早<br />-->
        <!--有人追求的一生荣耀<br />-->
        <!--不过是迷惑眼前的毒药<br />-->
        <!--那些 所谓的号召<br />-->
        <!--还挂上伪装自由的牌照<br />-->
        <!--操控着无辜人们的大脑<br />-->
        <!--重复着一遍一遍地说教<br />-->
        <!--那些 无助的咆哮<br />-->
        <!--终究会变成强力的弹药<br />-->
        <!--击溃那些讥讽的腔调<br />-->
        <!--到最后看有谁悠然地在笑<br />-->
        <!--那些 蒙面的强盗<br />-->
        <!--败露后只会仓惶地逃跑 跌倒</p>-->

        <!--<p>行走在悬崖边 <br />-->
        <!--躲藏在躯壳里面</p>-->
        <!--</div>-->
        <!--<div class="sixteen wide mobile eleven wide tablet eleven wide computer column">-->
        <!--456-->
        <!--</div>-->

        <!--</div>-->

        <!--</div>-->
        <!--<div class="title">-->
        <!--<i class="active dropdown icon"></i>-->
        <!--ziyounvshen-->
        <!--</div>-->
        <!--<div class="content">-->
        <!--<div class="ui grid">-->
        <!--<div class="sixteen wide mobile five wide tablet five wide computer column">-->
        <!--<p>感受黎明前那份孤独 聆听着琐碎的脚步<br />-->
        <!--黑夜禁锢正义的魔咒 在广场上蔓延悬浮</p>-->

        <!--<p>死寂的街角巷口胡同深处 微弱信念呼喊出<br />-->
        <!--咆哮着 挣扎着 结局是无情地残酷</p>-->

        <!--<p>有没有一种渴望叫做自由 却又很远 抓不到的弦<br />-->
        <!--遥看曼哈顿女神塑像你还好吗 请笼罩多一些<br />-->
        <!--有没有一种精神永不枯萎 指引向前 冲破所有邪念<br />-->
        <!--理想不会无条件搁浅</p>-->


        <!--<p>Rap</p>-->
        <!--<p>要相信世界会变得更好<br />-->
        <!--独裁别高兴得太早<br />-->
        <!--有人追求的一生荣耀<br />-->
        <!--不过是迷惑眼前的毒药<br />-->
        <!--那些 所谓的号召<br />-->
        <!--还挂上伪装自由的牌照<br />-->
        <!--操控着无辜人们的大脑<br />-->
        <!--重复着一遍一遍地说教<br />-->
        <!--那些 无助的咆哮<br />-->
        <!--终究会变成强力的弹药<br />-->
        <!--击溃那些讥讽的腔调<br />-->
        <!--到最后看有谁悠然地在笑<br />-->
        <!--那些 蒙面的强盗<br />-->
        <!--败露后只会仓惶地逃跑 跌倒</p>-->

        <!--<p>行走在悬崖边 <br />-->
        <!--躲藏在躯壳里面</p>-->
        <!--</div>-->
        <!--<div class="sixteen wide mobile eleven wide tablet eleven wide computer column">-->
        <!--456-->
        <!--</div>-->

        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="sixteen wide mobile six wide tablet six wide computer column">-->
        <!--<h2 class="ui header">-->
        <!--<i class="music icon"></i>-->
        <!--<div class="content">-->
        <!--ziyounvshen-->
        <!--<div class="sub header">Manage your preferences</div>-->
        <!--</div>-->
        <!--</h2>-->
        <!--</div>-->
        <!--<div class="sixteen wide mobile six wide tablet ten wide computer column">123</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="column">-->
        <!--<audio controls src=""></audio>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
        <!--<div class="sixteen wide column">-->
        <!--<div class="ui accordion lyrics">-->
        <!--<div class="title">-->
        <!--<i class="dropdown icon"></i>-->
        <!--{{_ "lyrics"}}-->
        <!--</div>-->
        <!--<div class="content">-->
        <!--<p>zi you de nsd</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
        <!--<div class="column">-->
        <!--<audio controls src=""></audio>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</template>