<template name="music">
        <div class="row">
            <div class="sixteen wide mobile six wide tablet six wide computer column">
                <h2 class="ui header">
                    <i class="music icon"></i>
                    <div class="content">
                        ziyounvshen
                        <div class="sub header">Manage your preferences</div>
                    </div>
                </h2>
            </div>
            <div class="sixteen wide mobile six wide tablet ten wide computer column">123</div>
        </div>
        <div class="row">
            <div class="column">
                <audio controls src=""></audio>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui accordion lyrics">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        {{_ "lyrics"}}
                    </div>
                    <div class="content">
                        <p>zi you de nsd</p>
                    </div>
                </div>
            </div>
        </div>


    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <audio controls src=""></audio>
        </div>
    </div>
</template>