<template name="blogIndex">
    <div class="ui grid container">
        <div class="row">
            <div class="column">
                {{#each blogs}}
                    <p><a href="/blog/{{_id}}">{{title}}</a></p>
                {{/each}}
            </div>
        </div>
        {{#if isInRole 'admin'}}
            {{>blogPostForm}}
        {{/if}}
    </div>
</template>

<template name="blogPostForm">
    <div class="row">
        <div class="column">
            <form class="ui blog-post form">
                <div class="field">
                    <label>Title</label>
                    <input placeholder="Title" name="title" type="text">
                </div>
                <div class="field">
                    <label>Content</label>
                    <textarea rows="14" name="content"></textarea>
                </div>
                <button class="ui green button" type="submit">Submit</button>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</template>