<template name="home">
    <div id="bg-img">
        <img class="bg" src="/blue-blur.jpg" alt=""/>
        <div class="headers">
            <div class="ui grid container">
                <div class=" row">
                    <div class="sixteen wide mobile seven wide tablet six wide computer column">
                        <div class="ui center aligned header column">
                            <img src="/avater.jpg" class="ui small circular image">
                            <div class="white">
                                <h2>Hanz Luo <i class="mail outline icon"></i>
                                    <div class="sub header">Full-stack Web Developer</div>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide mobile nine wide tablet ten wide computer column">
                        <h2 class="ui center aligned header column">
                            <div class="content">
                                <h3 class="white center aligned">hello thank you leijun 123</h3>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui grid container">
        <div class="ui doubling row skills">
            <div class="eight wide mobile four wide tablet four wide computer column">
                <h4><i class="terminal icon"></i>Server</h4>
                <p><i class="green check square icon"></i>Ubuntu, CentOS</p>
                <p><i class="green check square icon"></i>DNS Config</p>
                <p><i class="green check square icon"></i>Nginx/SSL</p>
                <p><i class="green check square icon"></i>MongoDB, MySQL</p>
            </div>
            <div class="eight wide mobile four wide tablet four wide computer column">
                <h4><i class="settings icon"></i>Frameworks</h4>
                <p><i class="green check square icon"></i>Meteor (node.js)</p>
                <p><i class="green check square icon"></i>React</p>
                <p><i class="green check square icon"></i>Sass/Less</p>
                <p><i class="green check square icon"></i>JQuery</p>
            </div>
            <div class="eight wide mobile four wide tablet four wide computer column">
                <h4><i class="plug icon"></i>API Plugins</h4>
                <p><i class="green check square icon"></i>Google Maps</p>
                <p><i class="green check square icon"></i>Yelp</p>
                <p><i class="green check square icon"></i>Stripe</p>
                <!--<p><i class="green check square icon"></i>Edmunds</p>-->
                <p><i class="green check square icon"></i>Facebook</p>
            </div>
            <div class="eight wide mobile four wide tablet four wide computer column">
                <h4><i class="code icon"></i>UI</h4>
                <p><i class="green check square icon"></i>Semantic UI</p>
                <p><i class="green check square icon"></i>Bootstrap</p>
                <p><i class="green check square icon"></i>Materialize</p>
                <p><i class="green check square icon"></i>Ionic</p>
            </div>
        </div>
    <div class="ui divider"></div>
    <div class="ui stackable row">
        <div class="ui center aligned four wide column contact-me">
            <h2>Contact Me</h2>
            <p>Hi there, welcome to contact me!</p>
            <div class="ui grid">
                <div id="social-media-icons" class="centered row">
                    <div class="three wide mobile twelve wide computer column" tabindex="0">
                        <a class="icon-link" href="https://www.facebook.com/hanzhang.luo" target="_blank">
                            <i class="facebook square icon"></i>
                            <label>Facebook</label>
                        </a>
                        <div class="ui grey pointing label animated">
                            <a class="label-link" href="https://www.facebook.com/hanzhang.luo" target="_blank">Facebook</a>
                        </div>
                    </div>
                    <div class="three wide mobile twelve wide computer column" tabindex="1">
                        <a class="icon-link" href="https://github.com/lhz516/" target="_blank">
                            <i class="github icon"></i>
                            <label>Github</label>
                        </a>
                        <div class="ui grey pointing label animated">
                            <a class="label-link" href="https://github.com/lhz516/" target="_blank">Github</a>
                        </div>
                    </div>
                    <div class="three wide mobile twelve wide computer column" tabindex="2">
                        <a class="icon-link" href="https://www.linkedin.com/in/hanzhang-luo-81103082?trk=hp-identity-name" target="_blank">
                            <i class="linkedin square icon"></i>
                            <label>LinkedIn</label>
                        </a>
                        <div class="ui grey pointing label animated">
                            <a class="label-link" href="https://www.linkedin.com/in/hanzhang-luo-81103082?trk=hp-identity-name" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="ten wide column">
            <form class="ui contact form">
                <div class="fields">
                        <div class="six wide field">
                        <label>Your Name</label>
                        <input placeholder="Your Name" name="name" type="text">
                    </div>
                    <div class="ten wide field">
                        <label>Contact Email</label>
                        <input placeholder="Contact Email" name="email" type="text">
                    </div>
                </div>
                <div class="field">
                    <label>Subject</label>
                    <input placeholder="Subject" name="subject" type="text">
                </div>
                <div class="field">
                    <label>Message</label>
                    <textarea rows="4" name="message"></textarea>
                </div>
                <button class="ui green button" type="submit">Submit</button>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
        </div>
    <div class="ui msg small modal">
        <div class="ui content center aligned container">
                <i class="huge check circle icon"></i>
            <p>Submit successful! Thanks for contacting me.</p>
        </div>

        <div class="actions">
            <div class="ui positive button">
                Close
            </div>
        </div>
    </div>
</template>