<template name="home">
    <div id="bg-img">
        <img class="bg" src="/blue-blur.jpg" alt=""/>
        <div class="headers">
            <div class="ui grid container">
                <div class="row">
                    <div id="avatar">
                        <div class="ui center aligned header column">
                            <img src="/avater.jpg" class="ui small circular image">
                            <div class="white">
                                <h2>{{_ "hanzluo"}} <i class="mail outline icon"></i>
                                    <div class="sub header">{{_ "full-stack-web-developer"}}</div>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div id="intro">
                        <div class="ui center aligned container column">
                            <div class="content">
                                <h4 class="white center aligned">{{_ "self-introduction"}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid container">
        <div id="articles-rating-wrapper" class="centered row">
            <div id="latest-articles">
                <h3>{{_ "latest-articles"}}</h3>
                <div class="ui people shape">
                    <div class="sides">
                        <div class="side">
                            <div class="ui card">
                                <div class="content">
                                    <div class="header">No articles yet</div>
                                    <div class="meta">
                                        <span class="date">Jan 2 2016</span>
                                    </div>
                                    <div class="description">
                                        content of article will be here. content of article will be here.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side">
                            <div class="ui card">
                                <div class="content">
                                    <a class="header">No articles yet</a>
                                    <div class="meta">
                                        <span class="date">Jan 2 2016</span>
                                    </div>
                                    <div class="description">
                                        content of article will be here. content of article will be here.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side active">
                            <div class="ui card">
                                <div class="content">
                                    <a class="header">No articles yet</a>
                                    <div class="meta">
                                        <span class="date">Jan 2 2016</span>
                                    </div>
                                    <div class="description">
                                        content of article will be here. content of article will be here
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="rating-container">
                <h3>{{_ "my-skills-rating"}}</h3>
                <div id="progress-container" class="">
                    {{_ "development"}}
                    <div class="ui green progress" data-percent="90">
                        <div class="bar"></div>
                    </div>
                    {{_ "communication"}}
                    <div class="ui progress" data-percent="80">
                        <div class="lightgreen bar"></div>
                    </div>
                    {{_ "project-management"}}
                    <div class="ui olive progress" data-percent="70">
                        <div class="bar"></div>
                    </div>
                    {{_ "design"}}
                    <div class="ui progress" data-percent="60">
                        <div class="darkolive bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui fluid container skills">
        <div class="ui grid container">
            <div class="doubling row">
                <div class="skill">
                    <h3 class="ui center aligned icon header">
                        <i class="circular terminal icon"></i>
                        {{_ "server"}}
                    </h3>
                    <p>Ubuntu, CentOS</p>
                    <p>DNS Config</p>
                    <p>Nginx/SSL</p>
                    <p>MongoDB, MySQL</p>
                </div>
                <div class="skill">
                    <h3 class="ui center aligned icon header">
                        <i class="circular settings icon"></i>
                        {{_ "frameworks"}}
                    </h3>
                    <p>Meteor (node.js)</p>
                    <p>React</p>
                    <p>Sass/Less</p>
                    <p>JQuery</p>
                </div>
                <div class="skill">
                    <h3 class="ui center aligned icon header">
                        <i class="circular plug icon"></i>
                        {{_ "api-plugins"}}
                    </h3>
                    <p>Google Maps</p>
                    <p>Yelp</p>
                    <p>Stripe</p>
                    <!--<p>Edmunds</p>-->
                    <p>Facebook</p>
                </div>
                <div class="skill">
                    <h3 class="ui center aligned icon header">
                        <i class="circular code icon"></i>
                        {{_ "ui"}}
                    </h3>
                    <p>Semantic UI</p>
                    <p>Bootstrap</p>
                    <p>Materialize</p>
                    <p>Ionic</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid container">
        <div id="contact-wrapper" class="row">
            <div id="social-media-col">
                <h2>{{_ "contact-me"}}</h2>
                <p>{{_ "contact-me-description"}}</p>
                <div class="ui grid">
                    <div id="social-media-icons" class="centered row">
                        <div class="three wide mobile twelve wide computer column" tabindex="0">
                            <a class="icon-link" href="https://www.facebook.com/hanzhang.luo" target="_blank">
                                <i class="facebook square icon"></i>
                                <label>Facebook</label>
                            </a>
                            <div class="ui grey pointing label animated">
                                <a class="label-link" href="https://www.facebook.com/hanzhang.luo" target="_blank">Facebook</a>
                            </div>
                        </div>
                        <div class="three wide mobile twelve wide computer column" tabindex="1">
                            <a class="icon-link" href="https://github.com/lhz516/" target="_blank">
                                <i class="github icon"></i>
                                <label>Github</label>
                            </a>
                            <div class="ui grey pointing label animated">
                                <a class="label-link" href="https://github.com/lhz516/" target="_blank">Github</a>
                            </div>
                        </div>
                        <div class="three wide mobile twelve wide computer column" tabindex="2">
                            <a class="icon-link" href="https://www.linkedin.com/in/hanzhang-luo-81103082?trk=hp-identity-name" target="_blank">
                                <i class="linkedin square icon"></i>
                                <label>LinkedIn</label>
                            </a>
                            <div class="ui grey pointing label animated">
                                <a class="label-link" href="https://www.linkedin.com/in/hanzhang-luo-81103082?trk=hp-identity-name" target="_blank">LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contact-form-col">
                <form class="ui contact form">
                    <div class="fields">
                            <div class="six wide field">
                            <label>{{_ "your-name"}}</label>
                            <input placeholder="{{_ "your-name"}}" name="name" type="text">
                        </div>
                        <div class="ten wide field">
                            <label>{{_ "contact-email"}}</label>
                            <input placeholder="{{_ "contact-email"}}" name="email" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label>{{_ "subject"}}</label>
                        <input placeholder="{{_ "subject"}}" name="subject" type="text">
                    </div>
                    <div class="field">
                        <label>{{_ "message"}}</label>
                        <textarea rows="4" name="message" placeholder="{{_ "message"}}"></textarea>
                    </div>
                    <button class="ui teal button" type="submit">{{_ "submit"}}</button>
                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="ui msg small modal">
        <div class="ui content center aligned container">
                <i class="huge teal check circle icon"></i>
            <p>Submit successful! Thanks for contacting me.</p>
        </div>

        <div class="actions">
            <div class="ui positive button">
                Close
            </div>
        </div>
    </div>
</template>